.chat-box {
    border: 1.5px solid #ccc;
    border-radius:5px;
    padding: 10px;
    height: 440px;
    overflow-y: scroll;
    margin-bottom: 10px;
    scrollbar-width:none;
    scroll-behavior: smooth;
    background-image:url("D:/Projects/Conferencing/client/public/chat.jpeg");
}

.chat-message {
    margin: 5px 0;
}

.chat-message.local {
    color:black;
    background-color: rgb(96, 200, 96);
    max-width:max-content;
    padding:7px;
    border:0.1px solid grey;
    border-radius:10px;
}

.chat-message.remote {
    text-align: left;
    color: black;
    border-radius:10px;
    max-width: fit-content;
    background-color: rgb(59, 149, 222);
    padding:7px;
}
