.chat-box {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    scrollbar-width:thin;
    scroll-behavior: smooth;
}

.chat-message {
    margin: 5px 0;
}

.chat-message.local {
    text-align: right;
    color: blue;
}

.chat-message.remote {
    text-align: left;
    color: green;
}
